/* Contact Us Page */
.contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #1a1a2e, #16213e, #0f3460);
    color: white;
    text-align: center;
}

.contact-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.success {
    color: #4caf50;
}

.error {
    color: #f44336;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.form-group {
    text-align: left;
    align-items: center;
    margin-left: 50px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
    color: #ddd;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ddd;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background: #00d4ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #ff5722;
}
